
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <span class="text-primary mr-5" data-feather="settings"></span>
      <label class="title">Settings</label>
    </div>

    <h2 class="ml-15 mt-10 mb-35">Authority</h2>
        <div class="search-panel d-flex flex-wrap flex-md-nowrap justify-content-between align-items-center mb-3">
          <div class="search-panel-left d-flex flex-wrap flex-md-nowrap align-items-center">
            <div class="input-group">
              <input type="text" class="form-control height-42 border-end-0 border" placeholder="Search" aria-label="Input group example" aria-describedby="btnGroupAddon">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary bg-white border-start-0 border ms-n3 height-42" type="button">
                  <span data-feather="search"></span>
                </button>
              </span>
            </div>
          </div>

          <div class="search-panel-right d-flex flex-wrap flex-md-nowrap align-items-center">
            <button type="button" class="btn btn-primary" routerLink="/registration">Add User</button>
          </div>
        </div>
        <div class="table-responsive" style="height: 50vh;">

          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">DATE</th>
                <th scope="col">NAME</th>
                <th scope="col">EMAIL</th>
                <th scope="col">POSITION</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2022-07-22</td>
                <td>Mark</td>
                <td>sampleMail@mail.com</td>
                <td>
                  <div class="btn p-0">
                    <select class="form-select" aria-label="Default select example">
                      <option value="1">PG Admin</option>
                      <option value="2">PG Employee</option>
                      <option value="3">Company Employee</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>2022-07-22</td>
                <td>Steven</td>
                <td>aTestMail@mail.com</td>
                <td>
                  <div class="btn p-0">
                    <select class="form-select" aria-label="Default select example">
                      <option value="1">PG Admin</option>
                      <option value="2">PG Employee</option>
                      <option value="3">Company Employee</option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  </main>
