.row{
    margin-bottom: 15px;;
}
table {
    width: 100%;
  }
  /* .mat-table thead{
    background-color: #3a3a3a;
  } */
  .mat-raised-button{
    padding: 0px;
  }
  tr.mat-header-row{
    background-color: #3a3a3a;
  }
  th.mat-header-cell{
    color:#fff;
  }
  .table thead th {
    color:#fff;
    background-color: #3a3a3a;
    text-align: center;
    padding: 13px 5px;
}

.table td, .table th{
  padding: 10px;
    border-top: 0px;
    text-align: center;
}
ul#menu li {
    display: inline;
    padding: 5px;
}

#menu {
    padding: 0px;
}