<!-- <div class="example-container" >
    <mat-toolbar color="primary" class="example-toolbar">
      
      <a href="#"> <img src="assets/paygate_c.png"></a>

      <span class="profilebtn">
        

        <a href="/login"> Login
        <button   mat-mini-fab color="basic" aria-label="Profile">
            <mat-icon>login
            </mat-icon>
          </button>
        </a>
      </span>
      <span class="profilebtn2">
        <a href="/registration"> SignUp
            <button   mat-mini-fab color="basic" aria-label="Profile">
                <mat-icon>login
                </mat-icon>
              </button>
            </a>
        <button  mat-mini-fab color="basic" aria-label="Profile">
            <mat-icon>login
            </mat-icon>
          </button>
      </span>
      
    </mat-toolbar>
  
    <div class="content"> 
        <h2>Anti Money Laundering</h2>
        <p>In publishing and graphic design,
             Lorem ipsum is a placeholder text commonly 
              used to demonstrate the visual form of a document or 
              a typeface without relying on meaningful content.</p>
    </div>
    
  </div> 
 
   -->


   <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <main class="col-md-3 col-lg-4 px-md-4">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="bg-rounded mb-1"><img src="assets/logo.svg"></div>
        <h1>로그인</h1>
        <label>로그인이 되지 않았습니다. 로그인을 진행해주 세요</label>
        <div class="w-50 d-flex flex-row-reverse mt-10">
          <a href="#">언어설정 KR</a>
        </div>
        
        <button (click)="btnClick()" class="btn btn-primary mt-5 mb-50 p-2 w-50">세이피트 인권센터를 통해 로그인하기</button>
        
      </div>
      <div>
        <label>회원가입승인하는 주체 구분 수반</label>
        <ol class="p-2"  type="1">
          <li>페이게이트 관리자나(superadmin) PG 임직원이 페이게이트 임직원의 회원가입을 승인</li>
          <li>페이게이트 관리자 및 pg 직원에 업체 임직원의 회원가입을 승인</li>
          <li>업체 관리자가 업체 임직원/회원들의 회원가입을 승인</li>
        </ol>
      </div>
    </main>
  </div>