<div class="container-fluid">


    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <h1 style="margin-top: 10px;"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="24"
                    viewBox="0 0 19 24">
                    <g id="Group_102" data-name="Group 102" transform="translate(-299 -183)">
                        <circle id="Ellipse_1" data-name="Ellipse 1" cx="9.5" cy="9.5" r="9.5"
                            transform="translate(299 183)" fill="#10449b" />
                        <circle id="Ellipse_2" data-name="Ellipse 2" cx="7" cy="7" r="7" transform="translate(299 193)"
                            fill="#3d5cfc" />
                    </g>
                </svg>
                <span> EDD 진행 여부 신청화면 </span>

            </h1>
        </div>
        <!-- <div class="col-md-12">
            <p style="margin-left: 24px;">상세보기-변화금액 및 변화비율 임계치 설정</p>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="625" height="46" viewBox="0 0 625 46">
                <g id="Group_21855" data-name="Group 21855" transform="translate(-615.5 -272)">
                    <line id="Line_328" data-name="Line 328" x2="619.5" transform="translate(615.5 295)" fill="none"
                        stroke="#c3c3c3" stroke-width="2" />
                    <g id="Group_21844" data-name="Group 21844" transform="translate(80.5 272)">
                        <g id="Group_265" data-name="Group 265" transform="translate(985)">
                            <rect id="Rectangle_667" data-name="Rectangle 667" width="175" height="46" rx="3"
                                fill="#e2e7ff" />
                            <text id="승인" transform="translate(71 27)" font-size="18"
                                font-family="MalgunGothicBold, Malgun Gothic">
                                <tspan x="0" y="0">승인</tspan>
                            </text>
                        </g>
                        <g id="Group_265-2" data-name="Group 265" transform="translate(760)">
                            <rect id="Rectangle_667-2" data-name="Rectangle 667" width="175" height="46" rx="3"
                                fill="#e2e7ff" />
                            <text id="검토" transform="translate(71 27)" font-size="18"
                                font-family="MalgunGothicBold, Malgun Gothic">
                                <tspan x="0" y="0">검토</tspan>
                            </text>
                        </g>
                        <g id="Group_265-3" data-name="Group 265" transform="translate(535)">
                            <rect id="Rectangle_667-3" data-name="Rectangle 667" width="175" height="46" rx="3"
                                fill="#417bf6" />
                            <text id="신청" transform="translate(71 27)" fill="#fff" font-size="18"
                                font-family="MalgunGothic, Malgun Gothic">
                                <tspan x="0" y="0">신청</tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </svg>
        </p>
    </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <ul id="menu">
                <li>
                    <mat-icon style="color: blue;">supervised_user_circle</mat-icon>
                    <!-- <span> 작성자</span> &nbsp;
                    <span> 임하나</span> -->
                </li>
                <li>                   
                    작성자
                   
                </li>
                <li>                    
                   임하나
                </li>
                <li>
                    <input type="date" placeholder="" style=" padding: 5px;"> &nbsp;
                    </li>
                <li>
                    <!-- <input type="date" placeholder="" style=" padding: 5px;"> &nbsp; -->
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">
                        GUID<mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                    </mat-menu>
                </li>

                <li>
                    작성일시 &nbsp; 2022-01-03 16:43
                </li>
            </ul>

            <ul id="menu">
                <li>
                    <mat-icon style="color: blue;">supervised_user_circle</mat-icon>
                    <!-- <span> 검토자</span> &nbsp;
                    <span> 유하정</span> &nbsp;
                    <span> 담장자 변경</span> -->
                </li>
                <li>                   
                  검토자                    
                </li>
                <li>                   
             유하정                   
                </li>
                <li>                   
                    담장자 변경
                </li>
                <li style="margin-left: 72px;">
                    <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
                        GUID<mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>dialpad</mat-icon>
                            <span>Redial</span>
                        </button>
                    </mat-menu>
                </li>

                <li>
                    작성일시 &nbsp; 2022-01-03 16:43
                </li>
            </ul>

            <ul id="menu">
                <li>
                    <mat-icon style="color: blue;">supervised_user_circle</mat-icon>
                    <!-- <span> 승인자</span> &nbsp;
                    <span> 정유진</span> &nbsp;
                    <span> 담장자 변경</span> &nbsp; -->
                </li>
                <li>                    
                    승인자                    
                </li>
                <li>                   
                  정유진                    
                </li>
                <li>                   
                    담장자 변경
                </li>

            </ul>
        </div>
    </div>


<div class="row">
    <div class="col-md-12">
        <div class="mat-elevation-z2">
            <table mat-table [dataSource]="dataSource">
          
              
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> GUID </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> 거래코드 </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> 거래자 형태 선택 </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> 증빙 서류 첨부 </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>         
            
          </div>
    </div>
</div>



    <div class="row" style="margin-top: 40px;">
        <div class="col-md-12" style="margin-bottom: 30px;">
            <h4>히스토리</h4>
            <mat-toolbar style=" background-color: #f5f5f5;padding: 0px 5px;height: 80px;">
                <mat-toolbar-row style=" background-color: #f5f5f5;">
                    <p>[PG] 임하나 사원</p>
                    <span class="span">
                        <p>작성일시 2022-01-03 16:43</p>
                        <p>작성된 의심거래 탐지 검토요청드립니다. EDD로 보내 추가적인 내용을 받아야 할 것 같습니다.</p>
                    </span>
                    <p>어제</p>
                </mat-toolbar-row>
            </mat-toolbar>

        </div>
        <div class="col-md-12 ">
            <mat-toolbar style=" background-color: #f5f5f5;padding: 0px 5px;height: 80px;">
                <mat-toolbar-row style=" background-color: #f5f5f5;">
                    <p>법인 사업자 등록증 파일로 첨부해서 드립니다. 감사합니다!</p>
                    <span class="example-spacer"></span>
                    <p>저장</p>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li><button color="primary" (click)="complete()" mat-raised-button type="button">완료</button></li>
                &nbsp;&nbsp;
                <li><button mat-raised-button type="button">취소하기</button></li>
            </ul>


        </div>
    </div>

</div>
