<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <h1 class="example-app-name">AML</h1> -->
    <a href="/layout/dashboard"> <img src="assets/paygate_c.png"></a>

   


    <span class="profilebtn">
      <button mat-mini-fab color="primary" aria-label="Profile">
        <mat-icon>notification_important
        </mat-icon>
      </button>

      
    </span>
    <div>
      
      <!-- <button mat-raised-button style="background-color: #3a3a3a; padding: 1px 10px;" color="primary" [matMenuTriggerFor]="menu">
        고액자산<mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
      </mat-menu> -->
    </div>
    
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel >
        <mat-expansion-panel-header style="background-color: #10449b;">
          <mat-panel-title > 
            <div fxLayout="row" fxLayoutAlign="space-between center">
              
              <p style="margin-top: 15px;">Admin</p>
            </div>
          </mat-panel-title>         
        </mat-expansion-panel-header>
        
      </mat-expansion-panel>
    </mat-accordion>
   

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="true"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <span *ngFor="let item of menu">
          <span *ngIf="item.children && item.children.length > 0">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <!-- Cabeceras del submenu -->
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <mat-icon>{{item.iconName}}</mat-icon>

                      <p>{{item.displayName}}</p>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <span *ngFor="let child of item.children">
                  <mat-list-item [routerLink]="child.route">
                    <!-- Entradas de cada submenú  -->
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                      <!-- <mat-icon>{{child.iconName}}</mat-icon> -->

                      <p class="customP">{{child.displayName}}</p>
                    </div>
                  </mat-list-item>
                </span>
              </mat-expansion-panel>
            </mat-accordion>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <mat-list-item [routerLink]="item.route">
              <!-- Entradas principales -->
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <mat-icon>{{item.iconName}}</mat-icon>

                <p>{{item.displayName}}</p>
              </div>
            </mat-list-item>
          </span>

        </span>

        <mat-list-item>
          <button mat-icon-button (click)="logout()" style="color: #fff;">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </mat-list-item>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>